.App-header {
  text-align: center;
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-ptr {
  height: 100%;
}

.App-commands {
  background: linear-gradient(35deg, #64b6ac, #3c6b7c 100%);
}
